# Web framework
Flask
flask-cors
python-dotenv
gunicorn

# LangChain & ecosystem
langchain
langchain-community
langchain-core
langchain-groq
langchain-ollama

# Vector stores
faiss-cpu
chromadb

# PDF Loader
pypdf

# Utilities
uuid
